$main-font: 'Open Sans', sans-serif;
$primary-font:'Raleway', sans-serif;

$main-background: hsl(218, 28%, 13%);
$heading-blue: hsl(217, 28%, 15%);
$footer-blue: hsl(216, 53%, 9%);
$gray-blue: hsl(219, 30%, 18%);

$primary-cyan: hsl(176, 68%, 64%);
$primary-blue: hsl(198, 60%, 50%);